/* post div  */

.post {
  width: 385px;
  margin: 0px 25px 40px 25px;
}

/* postImage */
.postImg {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 6px;
}

/* postinfo div > all the post infos goes here  */
.postInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* post categories  */
.postCategories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* post category (inside postcategories) */
.postCategory {
  font-size: 14px;
  color: #949090;
  line-height: 20px;
  margin-top: 18px;
  margin-right: 14px;
  cursor: pointer;
  background-color: #f5f0f0;
  padding: 2px 5px;
  border-radius: 5px;
}
.postCategory:hover {
  color: #535353;
}

/* post title inside postinfo  */

.postTitle {
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
  cursor: pointer;
}

/* postdate of postinfo  */
.postDate {
  font-size: 15px;
  font-weight: 300;
  color: #949090;
  background-color: #f5f0f0;
  padding: 1px 9px;
  border-radius: 5px;
  margin-top: 12px;
}

/* post description  */
.postDesc {
  padding-left: 3px;
  font-size: 17px;
  color: #535353;
  line-height: 23px;
  margin-top: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
